.git
.gitignore
README.md
docker-compose.yml
.env.example
.vscode
.idea
node_modules
vendor/.git
tests
.phpunit.result.cache
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
.DS_Store
vendor
public/storage
